body {
    width: 100%;
    background-color: aliceblue;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
}

body > nav {
    display: none;
}

#hlavnaStranka{
    width: 100%;
}

#galeria{
    display: none;
}

#dotazy{
    display: none;
}

.popis{
}










